[submodule "vendor/react-wp-ssr"]
	path = vendor/react-wp-ssr
	url = https://github.com/humanmade/react-wp-ssr.git
[submodule "hm-pattern-library"]
	path = hm-pattern-library
	url = https://github.com/humanmade/hm-pattern-library.git
