.App .wrapper {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.App .App-skip-link:focus {
	height: auto;
	display: block;
	text-align: center;
	color: var( --hm-red );
	background: #fff;
	padding: 0.25em;
	border-radius: 4px;
}

.App-main {
	display: flex;
}

.App-main > .Navigation {
	width: 20%;
	flex-shrink: 0;

	padding: 1rem 1rem 1rem 0;
	border-right: 1px solid var( --hm-border );
	margin-right: 2rem;
}

.App-main > :nth-child( 2 ) {
	width: 80%;
	flex-grow: 1;
}
