.Header {
	background-color: var( --hm-red );
	color: #fff;
	font-size: 0.777778rem;
	padding: 1rem;
}

.Header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.Header .Logo {
	height: 1.38em;
	margin-right: 0.5em;
	align-self: center;
}

.Header-title {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0.4rem 0 0;
	color: inherit;
	text-transform: none;
	line-height: 1.4;
}

.Header .SiteSelector {
	margin-right: 0.75rem;
}

.Header a,
.Header a:link,
.Header a:visited {
	color: inherit;
}

.Header-nav-main {
	flex-grow: 1;
}

.Header-nav-main a {
	margin-right: 0.5em;
}

.Header nav > ul {
	display: flex;
	align-items: baseline;
	list-style: none;
	padding: 0;
	margin: 0;
}

.Header nav > ul > li {
	margin-left: 0.5em;
}

.Header nav > ul > li > a {
	padding: 0.3em 0.4em;
	border: 1px solid transparent;
	border-radius: 3px;
}

.Header nav > ul > li > a:hover,
.Header nav > ul > li > a:active {
	border-color: #fff;
	text-decoration: none;
}

.Header input[type=search] {
	background: transparent;
	border: 1px solid rgba( 255, 255, 255, 0.7 );
	border-radius: 4px;
	padding: 0.2em 0.5em;
	color: #fff;
	width: 10em;
	margin-left: 20em;
	transition: width 200ms, margin 200ms;
}

.Header input[type=search]:focus {
	width: 30em;
	margin-left: 0;
	border-color: #fff;
}
