.Main {
	padding: 2rem 0;
	display: flex;
}

.Main-content {
	width: 75%;
	flex-shrink: 0;
	padding-bottom: 20rem;
}

.Main > .Navigation {
	padding-left: 2rem;
	margin-top: -1rem;
}

.Main > .Sidebar {
	flex-grow: 1;
}
