.Navigation {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow-y: auto;
	padding: 1rem 0;

	font-size: 0.777777778rem;
	color: var( --hm-medium-grey );
	margin-left: -0.5rem;
}

body.admin-bar .Navigation {
	top: 32px;
	height: calc( 100vh - 32px );
}

.Navigation__toggle {
	display: none;

	position: sticky;
	top: 0;
	margin-left: auto;
	padding: 0;

	/* Hamburger time. */
	width: 1.244rem;
	height: 15px;
	background: #fff;
	border: 3px solid var( --hm-red );
	border-width: 3px 0;
}

.Navigation__toggle span {
	display: inline-block;
	width: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.Navigation__toggle:before {
	content: ' ';
	display: block;
	width: 100%;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -6px;
}

.Navigation__toggle:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 3px;
	background: var( --hm-red );
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1.5px;
}

@media (max-width: 800px) {
	.Navigation {
		position: fixed;
	}

	.Navigation--expanded {
		background: #fff;
	}

	.Navigation > .NavMenu {
		display: none;
	}

	.Navigation--expanded > .NavMenu {
		display: block;
	}

	.Navigation__toggle {
		display: block;
	}
}
