.NavMenu {
	color: var( --hm-medium-grey );
	padding: 0 0 1.25em;
	margin: 0 0 1.25em;
}

.NavMenu-title {
	font-size: 1em;
	font-weight: bold;
	line-height: 2;
	color: var( --hm-dark-grey );
	text-transform: uppercase;
	margin: 0 0 0.5em;
}

.NavMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.NavMenu li > ul {
	margin: 0 0 0 1em;
}

.NavMenu li {
	margin: 0.1em 0;
}

.NavMenu-title, .NavMenu a {
	padding: 0.2rem 0.5rem;
	border-radius: 3px;
}

.NavMenu-title.has-link {
	padding: 0;
}

.NavMenu a {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: var( --hm-medium-grey );
	border: none;
	transition: none;
}

.NavMenu a:link,
.NavMenu a:visited {
	color: var( --hm-medium-grey );
}

.NavMenu a:hover,
.NavMenu a:active,
.NavMenu a:focus {
	border: none;
	background: var( --hm-beige );
	transition: none;
}

.NavMenu a.active {
	font-weight: bold;
}

.NavMenu .ReadIndicator {
	/*float: right;*/
	display: block;
	content: "✔";
	font-size: 0.8em;
	width: 1em;
	height: 1em;
	line-height: 1em;
	margin: 0.3em 0;
	text-align: center;
	opacity: 0.7;
	color: #fff;
	background: var( --hm-blue );
	border-radius: 1em;
}
