.PageNavigation {
	border-top: 1px solid var( --hm-border );
	margin: 2em 0 0;
	padding: 2em 0 0;

	display: flex;
	align-items: stretch;

	font-size: 1.25rem;
}

.PageNavigation > div {
	width: 49%;
	border-right: 1px solid var( --hm-border );
}

.PageNavigation > div:last-child {
	text-align: right;
	border: none;
}

.PageNavigation-arrow {
	margin: 0 0.5em;
}

@media (max-width: 800px) {
	.PageNavigation {
		flex-direction: column;
	}

	.PageNavigation > div {
		border: none;
		width: auto;
		margin: 0 0 0.5em;
	}
}
