.SiteSelector li span {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	color: var( --hm-red );
}

li.SiteSelector-separator {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	padding: 0.5em 0 0;
	border-top: 1px solid var( --hm-warm-grey );
}

.SiteSelector-internal {
	background: var( --hm-beige );
}
