name: Production Release

on:
  push:
    branches:
      - master
      - build-within-gh

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  release:
    name: "Build to release branch"
    uses: humanmade/hm-github-actions/.github/workflows/build-and-release-node.yml@04c32a93e52ae987095f144105745a501d6207c8 # v0.2.0
    with:
      node_version: 16
      source_branch: build-within-gh
      release_branch: release
      built_asset_paths: build
      build_script: |
        git submodule update --init hm-pattern-library
        npm ci --legacy-peer-deps
        npm run build
